.calc-container {
  width: 50%;
  max-width: 450px;
  margin: 5rem auto;
}

.input-wrapper {
  margin: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.clear-btn {
  cursor: pointer;
  width: 5rem;
  height: 3rem;
}

.calc-wrapper {
  width: 100%;
  display: flex;
}

.numbers-wrapper, .operators-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.numbers-wrapper {
  width: 75%;
}

.operators-wrapper {
  width: 25%;
}

.number {
  width: 30%;
  height: 8vw;
}

.operator {
  width: 100%;
}

.calc-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  line-height: 3rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid black;
}

